*.pyc
testdata/*.pkl
testdata/*.pdf
testdata/*.jpg
testdata/*.png
testdata/*.txt
testdata/output/*pdf
.metadata/
.metadata/*
testdata/output/*pkl
*sublime*
.idea/*

/docs/coverage/
/docs/build/
/docs/api/
.coverage
tests/.coverage

docs/test-results.html

external_code/gen-louvain/louvain
external_code/gen-louvain/matrix
external_code/gen-louvain/convert
external_code/gen-louvain/hierarchy
